*,
*::before,
*::after {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body{
    font-family: "Tahoma", sans-serif;
    font-size: 30px;
    height: 753px;
}

.container{
    display: grid;
    grid-template-columns: 7fr 9fr;
    height: 100%;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

td{
    padding: 10px;
}

table{
    border-collapse: collapse;
}

.input-field{
    height: 40px;
    width: 140px;
    font-size: 20px;
    padding: 4px;
}

.submit-btn{
    padding: 10px 18px;
    width: 100%;
    background-color: #2374E1;
    border: none;
    color: white;
    font-size: 16px;
}

.submit-btn:hover{
    background-color: #1959ad;
    transition: .2s ease-in;
}

.date-details{
    margin-bottom: 20px;
}

.output{
    display: none;
}

.output.show{
    display: block;
    background-color: rgb(248, 248, 248);
    font-size: 25px;
}

.output-center{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.output-table tr:nth-child(1),
.output-table tr:nth-child(3),
.output-table tr:nth-child(6),
.output-table tr:nth-child(7){
    /* background-color: #1959ad; */
    border-bottom: 1pt solid black;
}

.output-table td{
    padding: 10px 25px;
}

.output-table tr > td:last-of-type{
    text-align: end;
}

.result{
    background-color:rgb(216, 216, 216);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
}

@media screen and (max-width: 804px){
    body{
        font-size: 25px;
    }
    .container{
        display: block;
    }
    .output{
        padding: 50px 0;
    }
    .output *{
        font-size: 15px;
    }
    .output-table td{
        padding: 10px 15px;
    }
}
